<h3>Conference</h3>
<div id="videos">
  <video id="you" class="vpanel flip" autoplay></video>
</div>

<!--
<div style="clear : both">
<br/>	
<div id="chatbox">
  <div id="messages">
  </div>
  <input class="input-block-level"  id="chatinput" type="text" placeholder="Message:"/>
</div>
<div ng-include="'/partials/vcontrol'"></div>
-->