<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  </head>
  <body>

    <% include navbar.ejs %>   

    <a  href="/logout">Logout</a>
    <a  href="/blog">MyBlog</a>

    <h2>This is my exrepss + angularjs blog sample application, i used to test out and exprience myself with this framework. So far its wonderful.</h2>

  </body>
</html>