<!DOCTYPE html>
<html >
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/app.css">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
     <img src="<%= photo %>" width="30px" width="30px"></img>
    <a  href="/logout">Logout</a>

    <div ng-app="myApp" ng-controller="IndexCtrl">
      <h2>My Blog</h2>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/addPost">Add a new post</a></li>
      </ul>
      <div ng-view></div>
    </div>

    <script src="javascripts/lib/angular/angular.js"></script>
    <script src="javascripts/app.js"></script>
    <script src="javascripts/services.js"></script>
    <script src="javascripts/controllers.js"></script>
    <script src="javascripts/filters.js"></script>
    <script src="javascripts/directives.js"></script>
  </body>
</html>


