<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">

    <link type="text/css" href="/javascripts/rtc/newstyle.css" rel="stylesheet"></link>
    <script src="/javascripts/rtc/cwebrtc.io.js"></script>
    <script src="/javascripts/rtc/script.js"></script>

  </head>
  <body>

    <% include navbar.ejs %>   
    <!--
    <ng:include src="navbar.html"></ng:include>
    -->

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <!--
     <img src="<%= photo %>" width="30px" width="30px"></img>
    <a  href="/logout">Logout</a>
  -->

    <div ng-app="myApp" ng-controller="IndexCtrl">

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <h2>My Blog</h2>
          <ul class="nav nav-list">
            <li><a href="/blog" ng-click="vcontrol=''">Home</a></li>
            <li><a href="/addPost" ng-click="vcontrol=''">Add a new post</a></li>
            <li><a href="/whoisonline" ng-click="vcontrol=''">Who's online</a></li>
            <li><a href="/contact" ng-click="vcontrol='/partials/vcontrol'">Contact Center</a></li>
          </ul>

           <div ng-switch on="vcontrol" ng-init="vcontrol=''">
             <div ng-switch-when=""></div>
             <div ng-switch-default>
                <select ng-model="$parent.room" ng-options="item for item in items"></select>
                <br/><span>Join room {{$parent.room}}</span>
             </div>
           </div>  
           <div ng-include="vcontrol"></div>

        </div>
        <div class="span9">
          <div ng-view="listview"></div>
        </div>
      </div>
    </div>
     <!-- <div ng-include="'/partials/addPost'"></div> -->
    </div>

    <script src="javascripts/lib/angular/angular.js"></script>
    <script src="javascripts/app.js"></script>
    <script src="javascripts/services.js"></script>
    <script src="javascripts/controllers.js"></script>
    <script src="javascripts/filters.js"></script>
    <script src="javascripts/directives.js"></script>
  </body>
</html>


