<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <img src="<%=photo%>" width="30px" width="30px"></img>
    <p>Welcome to <%= title %></p>
    <a  href="/logout">Logout</a>
    <a  href="/blog">MyBlog</a>


  </body>
</html>